<h2>Add a comment</h2>
<%= form_with model: [@article, @article.comments.build] do |f| %>
  <%= f.label :author_name %>
  <%= f.text_field :author_name, placeholder: "Your Name" %>
  <%= f.label :body %>
  <%= f.text_area :body, placeholder: "Enter Comment" %>
  <%= f.submit %>
<% end %>
