<%= form_with model: @article do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Enter title" %><br>
    <%= f.label :body %>
    <%= f.text_area :body, placeholder: "Enter body" %>
  </div>
  <div>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
